@use "../global/setting" as *;
@use "../global/functions" as *;


.c-cases-card {

    background-color: $white;
    padding: myrem(40);
    border-radius: myrem(20);
    height: 100%;
    display: flex;
    flex-direction: column;

    .tit {
        font-size: myrem(24);
        margin-bottom: myrem(20);
    }

    .list {
        color: $green;
        border-top: 1px solid $green;
        padding: myrem(20) 0 0 0;

        li {

        }
    }

    .c-more-look-btn {
        margin-top: auto;
    }


}
