@use "../global/setting" as *;
@use "../global/functions" as *;

// .c-section-title {
//     text-align: center;
//     h2 {
//         font-size: myrem(20);
//         span {
//             font-size: myrem(12);

//         }
//     }
//     @include mq(md) {
//         h2 {
//             font-size: myrem(32);
//             line-height: myrem(30);
//             letter-spacing: .1em;
//             span {
//                 font-size: myrem(15);
//                 letter-spacing: .2em;
//                 &::after {
//                     content: "";
//                     background-color: $gray;
//                     height: 1px;
//                     height: 1px;
//                     display: block;
//                     margin: myrem(20) auto 0;
//                     max-width: myrem(160);
//                 }
//             }
//         }
//     }
// }

.c-section-title {
    text-align: center;
    h2 {
        font-size: myrem(22);
        line-height: myrem(20);
        @include mq(md) {
            font-size: myrem(32);
            line-height: myrem(30);
            letter-spacing: .1em;
        }
        span {
            font-size: myrem(13);
            @include mq(md) {
                font-size: myrem(15);
                letter-spacing: .2em;
            }
            &::after {
                content: "";
                background-color: $gray;
                height: 1px;
                height: 1px;
                display: block;
                margin: myrem(10) auto 0;
                max-width: myrem(80);
                @include mq(md) {
                    margin: myrem(20) auto 0;
                    max-width: myrem(160);
                }
            }
        }
    }
}


.c-section-title--left {
    text-align: left;
    h2 {
        font-size: myrem(20);
        line-height: myrem(20);
        padding: myrem(50) myrem(40) 0;
        @include mq(md) {
            font-size: myrem(32);
            line-height: myrem(30);
            letter-spacing: .1em;
            text-align: left;
            padding: myrem(50) myrem(80) 0;
        }
        span {
            font-size: myrem(12);
            @include mq(md) {
                font-size: myrem(15);
                letter-spacing: .2em;
            }
            &::after {
                content: "";
                background-color: $gray;
                height: 1px;
                height: 1px;
                display: block;
                margin: myrem(10) auto 0 0;
                max-width: myrem(80);
                @include mq(md) {
                    margin: myrem(20) auto 0 0;
                    max-width: myrem(160);
                }
            }
        }
    }
}


.c-section-title--form {
    transform: unset !important;
}


.c-page-title  {
    text-align: center;

    h2 {
        font-size: myrem(20);
        position: relative;
        display: inline-block;
        padding-bottom: myrem(10);
        @include mq(md) {
            font-size: myrem(40);
            padding-bottom: myrem(20);
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px; /* アンダーラインの高さ */
            background: linear-gradient(to right, $blue 20%, $green 20%);
        }
    }

}
