@use "../global/setting" as *;
@use "../global/functions" as *;

.c-info-card {
    padding: myrem(30) myrem(30) 0;
    @include mq(md) {
        padding: myrem(40) myrem(70) 0;
    }

    &:not(:first-child) {
        padding: myrem(20) myrem(30);
        @include mq(md) {
            padding: myrem(40) myrem(70);
        }
    }


    h3 {
        font-size: myrem(18);
        display: inline-flex;
        align-items: center;
        @include mq(md) {
            font-size: myrem(20);
        }
        &::before {
            content: "";
            display: inline-block;
            width: myrem(21);
            height: myrem(25);
            background-image: url(./img/top/point.webp);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 0.5em;
            @include mq(md) {
                width: myrem(21);
                height: myrem(25);
                margin-right: 0.5em;
            }
        }

    }

    &_table {
        text-align: left;
        width: 100%;

        th {
            width: 20%;
            @include mq(md) {
                width: 17%;
            }
        }

        td {
            max-width: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

    &_map {
        position: relative;
        width: 100%;
        padding-top: 60%;
        margin-top: myrem(15);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @include mq(md) {
            margin-top: myrem(15);
        }
    }
    &_thum {
        position: relative;
        width: 100%;
        padding-top: 60%;
        margin-top: myrem(15);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }
}
