@use "../global/setting" as *;
@use "../global/functions" as *;


.burger {
  width: myrem(30);
  height: myrem(30);
  top: myrem(15);
  right: myrem(30);
  position: absolute;
  z-index: 100;
}

.burger-line {
  position: absolute;
  height: 1px;
  background: $black;
  transition: 0.4s
}

.burger-line1 {
  top: 0;width: 30px;
}

.burger-line2 {
  top: 10px;width: 30px;
}

.burger-line3 {
  top: 20px;width: 30px;
}

.burger.close {
  .burger-line1 {
    top: 14px;
    width: 30px;
    transform: rotate(45deg);
    background: $black;
  }
  .burger-line2 {
    top: 14px;
    width: 30px;
    transform: rotate(-45deg);
    background: $black;
  }
  .burger-line3 {
    opacity: 0;
    visibility: hidden;
  }
}

.menu {
  display: none;
  transition: .4s;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    padding: 35px;
    display: block;
    // height: 100%;
    line-height: 4rem;
  }
}
