@use "../global/setting" as *;
@use "../global/functions" as *;

.page-numbers {
    display: flex;
    justify-content: center;

    li {
        margin: 0 2em 0 0;
    }
}


.page-nav {
    
}


