@charset "UTF-8";
/******** タブレット *********/
@media screen and (min-width: 641px) and (max-width: 1300px) {
  /* ----------------------------- 共通 */
  .wrap {
    width: 90%;
  }
  .wrap1100 {
    width: 90%;
  }
  .wrap1000 {
    width: 90%;
  }
  .wrap900 {
    width: 90%;
  }
  .wrap800 {
    width: 90%;
  }
  .wrap700 {
    width: 90%;
  }
}

/******** スマホ *********/
@media screen and (max-width: 640px) {
  /* ----------------------------- 全体 */
  body {
    font-size: 1.4rem;
    -webkit-text-size-adjust: 100%;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .inline_pc {
    display: none;
  }
  .inline_sp {
    display: inline;
  }
  img, .bx-wrapper img {
    max-width: 100%;
    height: auto;
  }
  /* ----------------------------- 共通 */
  .wrap {
    width: 95%;
  }
  .wrap1100 {
    width: 95%;
  }
  .wrap1000 {
    width: 95%;
  }
  .wrap900 {
    width: 95%;
  }
  .wrap800 {
    width: 95%;
  }
  .wrap700 {
    width: 95%;
  }
  /* ----------------------------- ヘッダー */
  .floting {
    width: 120px;
  }
  /* ----------------------------- メインビジュアル */
  .mv {
    padding: 5% 5% 160px 5%;
  }
  .mv:after {
    height: 200px;
  }
  .mv .box {
    padding: 40px 5%;
    background-position: center left 35%;
  }
  .mv .box p {
    font-size: 1.5rem;
    line-height: 1.8em;
    margin-top: 20px;
  }
  /* ----------------------------- コンテンツ */
  .block1 {
    padding: 60px 0 0;
  }
  .block1 ul {
    margin-top: -160px;
  }
  .block1 li {
    display: block;
    margin-bottom: 50px;
    position: relative;
  }
  .block1 li .txt {
    width: auto;
  }
  .block1 li .txt h4 {
    margin-left: 0;
    width: 100px;
    position: absolute;
    top: -30px;
    left: -10px;
  }
  .block1 li .txt h3 {
    font-size: 2.2rem;
    margin-top: 20px;
  }
  .block1 li .txt h3 span {
    width: 80px;
    top: -40px;
    margin-left: 0;
  }
  .block1 li .txt .price {
    display: inline-block;
    margin-top: 20px;
    font-size: 2rem;
  }
  .block1 li .txt .logo {
    margin-top: 10px;
  }
  .block1 li .txt .inner1 {
    float: left;
    width: 55%;
  }
  .block1 li .txt .inner2 {
    float: right;
  }
  .block1 li .img {
    width: auto;
    margin-left: 0;
    margin-top: 20px;
  }
  .block1 .artificial .txt h3 span {
    margin-left: 40px;
  }
  .block2 {
    padding: 80px 0 40px;
  }
  .block2:after {
    height: 200px;
  }
  .block2 .box {
    border-radius: 20px;
    padding: 5%;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .block2 .box h3 {
    font-size: 1.8rem;
  }
  .block2 .box .read {
    margin-top: 20px;
    text-align: left;
  }
  .block2 .box .tel {
    width: auto;
    margin-top: 20px;
  }
  .block2 .box .tel .number {
    display: block;
    margin-left: 0;
  }
  .block2 .box .inner {
    margin-top: 30px;
    padding-top: 30px;
  }
  .block2 .box .inner h4 {
    font-size: 1.6rem;
  }
  .block2 .box .inner .detail {
    margin-top: 0;
  }
  .block2 .box .inner .detail table th {
    display: block;
    width: auto;
    padding: 10px 0 5px;
  }
  .block2 .box .inner .detail table td {
    display: block;
    padding: 0 0 10px;
  }
  .block2 .box .inner .detail table td input[type="text"],
  .block2 .box .inner .detail table td input[type="email"],
  .block2 .box .inner .detail table td input[type="tel"],
  .block2 .box .inner .detail table td textarea {
    padding: 10px;
    font-size: 1.4rem;
  }
  .block2 .box .inner .detail table td .checkbox .list label {
    width: 50%;
  }
  .block2 .box .inner .detail .contact_btn {
    margin-top: 20px;
  }
  .block2 .box .inner .detail .contact_btn input,
  .block2 .box .inner .detail .contact_btn button {
    font-size: 1.5rem;
  }
  .block2 .box .inner .detail .contact_btn button {
    margin-right: 10px;
  }
  /* ----------------------------- フッター */
  .footer {
    padding: 20px 0;
  }
  .footer .nav {
    display: block;
  }
  .footer .nav li {
    margin-right: 0;
  }
  .footer .box {
    display: block;
    margin-top: 20px;
  }
  .footer .box .bnr {
    width: auto;
    margin-right: 0;
  }
  .footer .box .compatible {
    width: auto;
    margin-right: 0;
    margin-top: 10px;
  }
  .footer .box .compatible h4 {
    font-size: 1.6rem;
  }
  .footer .box .compatible p {
    font-size: 1.3rem;
    margin-top: 5px;
  }
  .footer .box .info {
    width: auto;
    margin-top: 20px;
  }
  .footer .box .info .sns {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style-sp.css.map */